* {
    font-family: 'Caveat', cursive;
}

.text-through {
    text-decoration: line-through;
}

#main-container {
    margin: 0 auto;
    width: 1300px;
    height: 800px;
    background-image: url("https://wallpapercave.com/wp/wp8522376.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#main-container ul {
    color: white;
    position: absolute;
    list-style-type: none;
    top: 100px;
    left: 20px;
    rotate: -20deg;
    opacity: .8;
    font-size: 1.2em;
}

#input-todo {
    width: 200px;
    position: absolute;
    top: 265px;
    rotate: -20deg;
    left: 150px;
    background-color: #34424f;
    color: white;
    border: 0px solid;
    font-size: 18px;
}

#todo-button {
    width: 50px;
    position: absolute;
    top: 220px;
    rotate: -20deg;
    left: 350px;
    background-color: #34424f;
    color: white;
    border: none;
    font-size: 18px;
    
}

#post-it-container {
    width: 150px;
    position: absolute;
    top: 50px;
    right: 500px;
    rotate: -20deg;
}

#post-it-container img {
    width: 100%;
}

#post-it-message {
    font-size: .8em;
    position: absolute;
    top: 30px;
    rotate: 12deg;
    right: 28px;
    opacity: .9;
    font-size: 15px;
}

