<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div id="main-container">
            <ul>
                <li v-for="(todo, index) in todoList" :class="todo.done == true ? 'text-through' : '' ">
                    {{todo.text}} <span @click="deleteItem(todo)"><i class="fa-regular fa-circle-xmark"></i></span>
                </li>
            </ul>
            <div class="add container">
                <input v-model="inputValue" @keyup.enter="addItem()" id="input-todo" type="text">
                <button @click="addItem()" id="todo-button">Add</button>
            </div>
        </div>


    </div>


    <script src="js/script.js"></script>
</body>
</html>